body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color : #F2FFFC;
	line-height: 1.5;
	/*width: 970px; 
	margin : auto;
	/**font-size: 120%; */
}

h1, h2 {
	font-family: "Open Sans Condensed","Arial",sans-serif;
	font-size: 30px;
}

.titulo-principal {
	color: #FFF;
	background-color:#851944;
	text-align: center; 
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
}

.container {
	width: 720px;
	margin : auto;
	padding: 30px 0;
	padding-bottom: 80px;

}

p {
	text-align: justify;
	margin: 20px 0;

}

blockquote, aside, footer {
    padding: 20px;
}



.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
}

.navegacao-site h1 {
	margin-bottom: 25px;
}

.navegacao-site a {
    color: inherit; /*pega a cor do pai - para nao ficar repentindo*/
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}

footer {
	background-color: #000;
	color: #F2FFFC;
	position: fixed;
	bottom: 0;
	width: 100%;
}

nav a {
    color: #F2FFFC;
    text-transform: lowercase;
}

main a {
    color: #851944;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.icones-redes-sociais li {
	display: inline-block;
}

.tags {
	background-color: inherit;
	color: inherit;
}

.tags a {
	margin-left: 5px;
}



.icones-redes-sociais a {
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -9999px;
}

.github {
	background-image: url('../image/github.png');
}

.twitter {
	background-image: url('../image/twitter.png');
}

.linkedin {
	background-image: url('../image/linkedin.png');
}

/** floats - organizacao do layout **/

.cite-fiat {
	float: right;
}

.cite-petrobras {
	float: left;
}

h2 {
	clear: both;
}

.minha-foto {
	float: right;	
	position: absolute;
	top: 0;
	right: 0;	
}

.navegacao-site{
	float: right;
	clear: right;
	width: 15%;
	margin-top: 310px;
}

.minha-foto, .navegacao-site{
	box-sizing : border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

main {
	float: left;
	width: 85%;
}

footer {
	clear: both;
}